extends layout

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/nav-answer.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id='welcome_container')
    div(class='welcome-user-container')
      img(class='welcome-user-image' src=`${locals.user.profile_picture}`, alt=`${locals.user.user_name}`)
      div(class='welcome-user') #{locals.user.user_name}
    h1(id='dropdownSelect')= title
  //- if myAnswers && myAnswers.length > 0
    //- each answer in myAnswers
      //- div
      //-   div= answer.Question.User.user_name
      //-   div
      //-     a(href=`questions/${answer.Question.id}`)= answer.Question.title
      //-   div
      //-     button(class='upvote-question-button' id= `${answer.question_id}`) Upvote
      //-     div(class='vote_holder')= answer.Question.Questions_votes.length
      //-   div(class='answer-container' id=`answer-${answer.id}`)
      //-     div= answer.User.user_name
      //-     div
      //-       p= answer.content
      //-       button(class='deleteBtn' id=`${answer.id}`) delete the answer
      //-       button(class='editBtn' id=`editBtn-${answer.id}`) edit the answer
      //-       div(class=`answerContain-${answer.id}` id=`${answer.id}`)
      //-         form(action=`/answers/${answer.id}` method='post')
      //-           input(type='hidden' name='_csrf' value=token)
      //-           +field('Answer:', 'content')
      //-           button(type='submit') Submit
      //-     div
      //-       button(class='upvote-answer-button' id=`${answer.id}`) Upvote
      //-       div(class='answer_vote_holder')= answer.Answers_votes.length
  div(class='questions-container')
    if myAnswers && myAnswers.length > 0
      each answer in myAnswers
        div(class='question-container')

          div(class='question-offset')
            div(class='user-text')
              img(class='user-text-picture' src=`${answer.Question.User.profile_picture}`, alt=`${answer.Question.User.user_name}`)
              div(class='userName-container')
                div(class='userName')= answer.Question.User.user_name
                div(class='date')= answer.Question.date
            div(class='question-text')
              if answer.Question.Spaces
                div(class='space-container')
                  each s in answer.Question.Spaces
                    p(class='single-space-in-question' id=`${s.tag}`)=s.tag
              a(href=`questions/${answer.Question.id}`)= answer.Question.title
            div(class='question-buttons')
              div(class='vote-section')
                button(class='upvote-question-button' id= `${answer.question_id}`)
                  - var liked = 0;
                    each like in answer.Question.likes

                      if locals.user.id == like.user_id
                        - liked = 1;

                    if liked == 0
                      i(class=`far fa-thumbs-up liked` id= 'liked')
                    if liked == 1
                      i(class=`fa fa-thumbs-up liked` id= 'liked')
                div(class='vote_holder voteNum')= answer.Question.Questions_votes.length

          div(class='answer-container' id=`answer-${answer.id}`)
            div(class='user-text')
              img(class='user-text-picture' src=`${answer.User.profile_picture}`, alt=`${answer.User.user_name}`)
              div(class='userName-container')
                div(class='userName')= answer.User.user_name
                div(class='date')= answer.date
            div(class='answer-edit-delete')
              div(class=`answer-text-${answer.id} answer-text`)= answer.content
            div(class='answer-buttons')
              div(class='vote-section')
                button(class='upvote-answer-button' id=`UQ/${answer.id}`)
                  - var likedA = 0;

                  each like in answer.Answers_votes

                    if locals.user.id == like.user_id
                      - likedA = 1;

                  if likedA == 0
                    i(class=`far fa-thumbs-up likedA` id= 'likedA')
                  if likedA == 1
                    i(class=`fa fa-thumbs-up likedA` id= 'likedA')

                div(class='voteNum' id=`answer-vote-holder-UQ/${answer.id}`)= answer.Answers_votes.length
              div
                button(class='editAnswerBtn editBtn' id=`editBtn-${answer.id}`)
                  i(class="fas fa-edit")
                button(class='deleteBtn' id=`${answer.id}`)
                  i(class="fas fa-trash-alt")
          div(class=`answerContain-${answer.id} answerContain` id=`${answer.Question.id}`)
            img(class='user-text-picture' src=`${locals.user.profile_picture}`, alt=`${locals.user.user_name}`)
            form(class='answerContain-form' action=`/answers/${answer.id}` method='post')
              input(type='hidden' name='_csrf' value=token)
              +field('', 'content', '', 'text')
              button(type='submit' class='edit-submit-button') Edit Answer
