extends layout

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/nav-question.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id='welcome_container')
    div(class='welcome-user-container')
      img(class='welcome-user-image' src=`${locals.user.profile_picture}`, alt=`${locals.user.user_name}`)
      div(class='welcome-user') #{locals.user.user_name}
    h1(class='my-questions-title')= title

  div(class='questions-container')
    if myQuestions && myQuestions.length > 0
      each question in myQuestions
        div(id=`question-container-${question.id}` class='question-container')

          div(class='question-offset')
            div(class='user-text')
              img(class='user-text-picture' src=`${question.User.profile_picture}`, alt=`${question.User.user_name}`)
              div(class='userName-container')
                div(class='userName')= question.User.user_name
                div(class='date')= question.date
            div(class='question-text')
              if question.Spaces
                div(class='space-container')
                  each s in question.Spaces
                    p(class='single-space-in-question' id=`${s.tag}`)=s.tag
              a(href=`/questions/${question.id}`)
                div(class='question-text-single') #{question.title}
            div(class='question-buttons')
              div(class='vote-section')
                button(class='upvote-question-button' id=`${question.id}`)
                  - var liked = 0;
                    each like in question.likes

                      if locals.user.id == like.user_id
                        - liked = 1;

                    if liked == 0
                      i(class=`far fa-thumbs-up liked` id= 'liked')
                    if liked == 1
                      i(class=`fa fa-thumbs-up liked` id= 'liked')
                div(class='vote_holder voteNum')= question.Questions_votes.length

              div(class='question-buttons-right')
                button(class="editBtn questionEditBtn addTagBtn" id="addTag")
                  i(class="fas fa-hashtag")

                div(id="addTag-container" class="modal addTag-container")
                  div(class="modal-content modal-space-container")
                    div(class='space-modal-head')
                      span(class="close") &times;
                      div(class='modal-head-text') Edit Spaces
                    div(class='modal-line')
                    div(class='modal-topic-container')
                        p(class='modal-tag-suggestion')="Make sure this question has the right topics:"
                        p(class='model-tag-question-title')=`${question.title}`
                        div(class='modal-tag-form-container')
                          form(method="post" action=`/questions/${question.id}/questionSpaces`)
                            input(type="hidden" name="_csrf" value=token)
                            div(class='existing-tops-suggestion')
                              div(class="existing-tops-suggestion-1") 1
                              p='Verify that these topics describe your question'
                            div(class='modal-line')
                            div(class='tops-checkbox-container')
                              each s in question.Spaces
                                div(class='tops-single-checkbox-container')
                                  input(type='checkbox' name=`${s.tag.split(" ").join("_")}` checked)
                                  label=s.tag
                            div(class='existing-tops-suggestion')
                              p(class="existing-tops-suggestion-1")='2'
                              p='Select any topics that also describe your question'
                            div(class='modal-line')
                            div(class='new-tops-checkbox-container')
                              each s in question.newSpaces
                                div(class='tops-single-checkbox-container')
                                  input(type='checkbox' name=`${s.split(" ").join("_")}` )
                                  label=s

                            div(class='modal-sumit-button-container')
                              button(type="submit"  class='modal-submit') Edit Spaces
                button(class="edit-question-button editBtn questionEditBtn")
                  i(class="fas fa-edit")
                button(class='delete-question-button' id=`${question.id}`)
                  i(class="fas fa-trash-alt")
          div(class=`question-edit-contain answerContain` id=`${question.id}`)
            img(class='user-text-picture' src=`${locals.user.profile_picture}`, alt=`${locals.user.user_name}`)
            form(class='answerContain-form' action=`/questions/${question.id}` method='post')
              input(type='hidden' name='_csrf' value=token)
              +field('', 'title', '', 'text')
              button(type='submit', class='edit-submit-button') Edit Question

          div(class='answers-container')
            if question.Answers && question.Answers.length > 0
              each answer in question.Answers
                div(class='answer-container')
                  div(class='user-text')
                    img(class='user-text-picture' src=`${answer.User.profile_picture}`, alt=`${answer.User.user_name}`)
                    div(class='userName-container')
                      div(class='userName')= answer.User.user_name
                      div(class='date')= answer.date
                  div(class='answer-text')= answer.content
                  div(class='answer-buttons')
                    div(class='vote-section')
                      button(class='upvote-answer-button' id=`UQ/${answer.id}`)
                        - var likedA = 0;

                        each like in answer.Answers_votes

                          if locals.user.id == like.user_id
                            - likedA = 1;

                        if likedA == 0
                          i(class=`far fa-thumbs-up likedA` id= 'likedA')
                        if likedA == 1
                          i(class=`fa fa-thumbs-up likedA` id= 'likedA')

                      div(class='voteNum' id=`answer-vote-holder-UQ/${answer.id}`)= answer.Answers_votes.length
